.container {
  padding: 0 0.7rem;
}

.blogpost {
  margin-bottom: 2rem;
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
}

.link {
  padding: 1rem;
  border-radius: 6px;
  margin: 0rem 0.7rem 0rem 0.2rem;
  border: 1px solid #e4e5e7;
  text-decoration: none;
  box-shadow: 0px 0px 3px 2px #e4e5e7;
  display: flex;
  flex-wrap: wrap;
}

.link:hover {
  box-shadow: 0px 0px 5px 4px #e4e5e7;
}

.linkpTag {
  margin: 1rem 0 1rem 0;
}

td img {
  max-width: 90%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}
