.center-block {
    text-align: center;
    height: 4em;
    background: lightgoldenrodyellow;
    align-items: center;
    justify-content: center;
    display: flex;
}

.subtitle {
    font-size: 1.3rem;
    color: #636363;
}

.bottombar {
    /* font-size: 1.75rem; */
    padding-bottom: .5rem;
    border-bottom: 4px solid #f1f4f8;
}

.links {
    font-weight: 600;
    color: #636363;
    border-bottom: 3px solid #b9cdfb;
    text-decoration: none;
    font-size: 18px;
}
.links:hover,
.links:focus {
    font-weight: 600;
    color: #222;
    border-bottom: 3px solid #96b4f9;
    text-decoration: none;
}