/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.container {
  min-height: calc(100vh - 15rem);
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
}

body {
  font-family: Roboto, sans-serif;
  color: #222;
}

p,
li {
  line-height: 1.5;
}

a {
  color: #2a5aa7;
}

.gatsby-remark-code-title {
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;

  background-color: gray;
  color: white;
  z-index: 0;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
